# IntelliJ Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.classpath
.project
.settings/

# Build outputs
target/
_build/

# Vagrant outputs
.vagrant

# OS hidden files
.DS_Store

# Temporary Maven files
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup

# Log files
*.log

# Credentials
*credentials.json
